{% extends 'base.html' %}
{% block content %}
<style>
    p{
        color:white;
    }
</style>
<div class="container">
    <p>
        Ми відправили вам інструкцію по встановленню нового паролю на вказаний адрес електронної пошти(якщо в нашій базі даних є такий адрес). 
        Ви повинні отримати її в найближчому часі.
        Якщо ви не отримали лист, будь ласка, переконайтесь, що ви ввели адресу з якою
        ви були зареєстровані, і перевірте папку з спамом.
    </p>
</div>

{% endblock content %}
