{% extends 'base.html' %}
{% block content %}
{% load static  %}
{% load custom_filters %}
<div>
<iframe src="https://discordapp.com/widget?id=645292086735667201&theme=dark" width="300" height="400" allowtransparency="true" frameborder="0" align='right'></iframe>
    <br>
    <table class="news_box">
        <h1 class='white'>Number of posts {{number_of_posts}}</h1>
        {% for article in articles %}
        <tr>
            <td>
                <div class="inner_box">
                    <div class="top_box">
                        <a href="articles/{{article.slug}}">
                            <font size="+2">{{article.title}} (comments: {{article.get_number_of_comments}})</font>
                        </a>
                    </div>

                    <div class="left_box">
                        {% if article.image %}
                            <img src="{{article.image.url}}" width="80" height="80">
                        {% else %}
                            <img src="{% static 'img/blank.png' %}" width="80" height="80">
                        {% endif %}
                        <font><p>{{article.text |shorten_text}}</p></font>
                    </div>
                    
                </div>
            </td>
        </tr>
            {% endfor %}
    </table>
    <div class="pagination">
        <span class="white">
            {% if articles.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ articles.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
            </span>

            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}">next</a>
                <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <div class="right_div">
        {% if user.is_admin %}
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                {% csrf_token %}
                {{ form }}
                <button type="submit">Submit</button>
            </form>
        {% endif %}
    </div>
</div>

{% endblock content %}