{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
    body{
        background-image: url({% static 'img/background.jpg' %});
    }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
    <script type="text/javascript" src={% static "bootstrap/js/jquery-min.js"%}></script>
    <script type="text/javascript" src={% static "bootstrap/js/bootstrap.js"%}></script>
    {% include 'core/components/header.html' %}
    {% block content %}

    {% endblock content %}
    <br>
    <!--{% include 'core/components/footer.html' %}-->
    
</body>
</html>